<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			.mui-content{

				background: url(2.png) bottom center no-repeat #efeff4 ;
			
				background-size: 100% 100%;
			
				width: 100%;
			
				height: 100%;
			
			}
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a> <a href="/about">About</a> <a href="/cv">CV</a> <a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
		</body>
	</html>
