<!DOCTYPE html>
	<html>
		<head>
			<meta charset="UTF-8">
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			https://cdn.jsdelivr.net/gh/wqm17/image//image/%E7%85%A7%E7%89%87%E5%9B%BE%E5%BA%93.jpg
			<style>
				.meanpage{
					position:fixed;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					min-width: 1000px;
					z-index: -10;
					zoom: 1;
					background-color: #fff;
					background: https://cdn.jsdelivr.net/gh/wqm17/image//image/%E7%85%A7%E7%89%87%E5%9B%BE%E5%BA%93.jpg;
					background-repeat: no-repeat;
					background-size: cover;
					-webkit-background-size: cover;
					-o-background-size: cover;
					background-position: center 0;
				}
			</style>
		</head>
		<body>
			<div class="container">
			{{ content }}
			</div><!-- /.container -->
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a> <a href="/about">About</a> <a href="/cv">CV</a> <a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
		</body>
	</html>
